html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.box-box {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Definindo a altura total da página */
}

.form-key {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-box {
    margin-bottom: 10px;
}

.input-key {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4CAF50;
    margin: 5px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
}

.login-button:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.font-para {
    font-size: 10px;
    margin: 0px;
    font-style: italic;
}

.font-apikey {
    font-size: 12px;
    padding-top: 15px;
    margin: 0px;
}
.box-login{
        width: 300px;
            margin: 0 auto;
            /* padding: 20px; */
            border: 1px solid #ccc;
            background-color: #f2f2f2;
            border-radius: 5px;
            /* display: flex; */
            /* flex-direction: column; */
            align-items: center;
            /* justify-content: center; */
            height: 50vh;
}